.backTop button {
  padding: 10px 15px;
  color: #fff;
  background-color: #a79378;
  font-weight: 700;
  text-decoration: none;
  transition: all ease 0.3s;
}

.backTop {
  z-index: 1000;
  bottom: 10px;
  right: 10px;
  position: fixed;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}
