.description :is(h1, h2, h3),
.description :is(h1, h2, h3) *,
.description :is(h1, h2, h3) span *,
.description :is(h1, h2, h3) strong * {
  color: var(--primary) !important;
  letter-spacing: 1px;
  font-size: 20px !important;
  font-weight: 500;
  margin-bottom: 30px !important;
  font-family: "Tenor" !important;
}

.description * {
  font-family: "Gotham", sans-serif !important;
  font-size: 16px !important;
  line-height: 21px !important;
}
.description a:not(.button) {
  color: var(--primary);
  text-decoration: underline;
  word-break: break-all;
}

.description p {
  margin-bottom: 15px !important;
  overflow: hidden;
}
.description span {
  color: #555 !important;
  background-color: transparent;
}

.description :has(h1, h2, h3) * {
  color: inherit !important;
  letter-spacing: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  margin-bottom: inherit !important;
  font-family: inherit !important;
}
