.buttonRepeater table {
  max-width: fit-content;
  margin: 0 auto;
}
.buttonRepeater em {
  background-color: unset !important;
}
.buttonRepeater * {
  font-family: "Gotham", sans-serif !important;
}
@media (min-width: 768px) {
  .buttonRepeater > div:not(:last-of-type) {
    border-right: 1px solid #ccc;
  }
}

@media (max-width: 767px) {
  .buttonRepeater > div:not(:last-of-type) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
