.meetings_events p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 21px;
}
.meetings_events ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  line-height: 21px;
}

.meetings_events ol li {
  line-height: 21px;
}

.meetings_events li a {
  text-decoration: none;
  background-color: transparent;
  color: var(--primary);
}
