.description {
  line-height: 21px;
}
.description > p:not(:last-of-type) {
  margin-bottom: 15px;
}
.description ol,
.description ul {
  padding-left: 15px;
}

.description li {
  margin-bottom: 5px;
}

.description a {
  text-decoration: none;
  background-color: transparent;
  color: var(--primary);
}
