@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #691a31;
  --primary1: #85764d;
  --secondary: #654e43;
  --secondary1: #c5baa6;
  --secondary2: #d4bebe;
  --secondary3: #99656a;
  --dropdownBorder: #ebbbc9;
}

body {
  font-family: "Gotham", sans-serif;
}
.react-datepicker-wrapper {
  width: 100%;
}

.st-1 #header .active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--primary);
  display: block;
  flex: 0 0 100%;
  position: absolute;
  bottom: -5px;
}

.font-domine {
  font-family: "Domine", sans-serif;
}
.font-tenor {
  font-family: "Tenor", sans-serif;
}
.carousel-gallery *,
.block-slider .slick-slider {
  line-height: 0;
}
.carousel-gallery .slick-slide {
  margin-left: 10px;
}

.carousel-gallery .slick-list {
  margin-left: -15px;
}
.carousel-gallery .slick-track {
  display: flex;
}
@layer utilities {
  .block-slider .slick-dots {
    position: absolute;
    bottom: 15px;
    display: flex !important;
    justify-content: center;
    list-style: none;
    width: 100%;
  }
  .block-slider .slick-dots li {
    padding: 0 3px;
  }
  .block-slider .slick-dots .slick-active button {
    transform: scale(1.3);
    transition: all ease 0.3s;
    background-color: rgba(204, 204, 204, 0.7);
  }
  .block-slider .slick-dots button {
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    border-radius: 100%;
    transition: all ease 0.3s;
    border: 2px solid #ccc;
  }

  /* .react-select {
    text-transform: uppercase;
  } */
  .react-select,
  .react-select * {
    color: var(--primary) !important;
  }
  .react-select > div {
    border: 1px solid var(--dropdownBorder) !important;
    outline: none;
    border-radius: 0;
    min-height: 60px;
    outline: none;
    box-shadow: none !important;
    font-size: 18px;
    font-family: "Tenor", sans-serif;
    letter-spacing: 1px;
  }
  .react-select > div > div:nth-child(2) > span {
    display: none;
  }

  .connections .even img {
    max-width: 65px;
  }

  ul,
  ol {
    list-style-position: inside !important;
    padding-left: 15px;
  }
  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #header-mobile {
    transform: translateX(-100%);
    transition: all ease 0.3s;
  }

  .mobile-menu-opened #header-mobile {
    transform: translateX(0);
    transition: all ease 0.3s;
  }

  .referral {
    display: none !important;
    position: fixed;
    left: -99999px;
    height: 0;
    width: 0;
  }
  @media (max-width: 1199px) {
    .mobile-menu-opened {
      overflow: hidden !important;
    }
  }
  @media (min-width: 1200px) {
    .st-1 .container {
      max-width: 980px;
    }
    .st-2 .container {
      max-width: 1200px;
    }
  }
}

hr {
  background-color: #ccc;
  height: 2px;
}

@layer base {
  .book-modal .modal-content {
    animation: modalIn 0.3s;
  }

  .slide-fill .slick-list,
  .slide-fill .slick-list div {
    height: 100% !important;
  }
  .remove-highlight {
    -webkit-tap-highlight-color: transparent;
  }

  #header .dropdown:hover > div > .dropdown-menu,
  #header .dropdown .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: inherit;
    transform: translateY(0);
    transition: all ease 0.3s;
  }
  #header .dropdown-menu {
    transform: translateY(10px);
    transition: all ease 0.3s;
  }
  #header .dropdown-menu .dropdown-menu {
    top: -10px !important;
    padding-top: 0 !important;
    left: 100% !important;
  }
  #header .dropdown-menu .dropdown-menu > div {
    border-left: 3px solid var(--primary);
  }

  #header .dropdown-menu .dropdown-menu .caret {
    display: none;
  }
}

.prev {
  transform: translateX(-200%);
  transition: all ease 0.1s;
  opacity: 0;
  visibility: hidden;
}
.current {
  transform: translateX(0);
  transition: all ease 0.3s;
}

.next {
  transform: translateX(100%);
  transition: all ease 0.3s;
}

.children {
  position: fixed;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  top: 80px;
  transform: translateX(100%);
  width: 100%;
  z-index: 1;
}
.children.current {
  right: 0;
  transform: translateX(0);
  transition: all ease 0.4s;
  opacity: 1;
  visibility: inherit;
}
.children.animating {
  transform: translateX(-30%);
  transition: all ease 0.3s;
  /* opacity: 0; */
  /* visibility: hidden; */
}

.footer-reviews .slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 15px 0;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
}
.footer-reviews .slick-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: all ease 0.3s;
  text-indent: -9999px;
  transition: all ease 0.3s;
}
.footer-reviews .slick-dots li {
  padding: 0 5px;
}
.footer-reviews .slick-active button {
  transform: scale(1.2);
  transition: all ease 0.3s;
}

.not-slider .slick-track {
  margin: 0;
}
.not-slider .slick-arrow {
  display: none !important;
}
@keyframes modalIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.triangle-left {
  left: -10px;
  border-bottom: 20px solid var(--primary);
  border-left: 11px solid transparent;
  filter: brightness(65%);
}
.triangle-right {
  right: -10px;
  border-bottom: 20px solid var(--primary);
  border-right: 11px solid transparent;
  filter: brightness(65%);
}

.animate-wobble {
  animation: wobble 1s;
}
#CookiebotWidget .CookiebotWidget-consent-details button,
#CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-withdraw {
  color: var(--primary) !important;
}

#CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-change {
  background-color: var(--primary) !important;
}

#CookiebotWidget {
  z-index: 10 !important;
}
#CookiebotWidgetUnderlay {
  z-index: 9 !important;
}
#CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-withdraw,
#CookiebotWidget-btn-change {
  border-color: var(--primary) !important;
}
#CookiebotWidget-widgetContent path,
#CookiebotWidget .CookiebotWidget-logo svg circle {
  fill: var(--primary) !important;
}

#nprogress .bar {
  background: var(--primary) !important;
}

table td {
  border: 1px solid #ccc;
  padding: 5px;
}

p {
  margin-bottom: 15px;
}

.st-2 .react-select > div {
  min-height: 50px;
  background: #e6efee;
}

#instafeed .juicer-feed h1.referral,
#instafeed .juicer-about {
  display: none !important;
  position: absolute;
  visibility: hidden !important;
  opacity: 0 !important;
  left: -99999px;
  text-indent: -99999px;
}

#instafeed .j-overlay {
  z-index: -1500;
}

.juicer-feed {
  max-height: unset !important;
}
#instafeed .juicer-feed .juicer {
  display: none !important;
  opacity: 0;
  height: 0;
  margin-bottom: 0 !important;
}

#instafeed .juicer-feed h1.referral {
  display: none;
  opacity: 0;
  height: 0;
  margin: 0;
}

#instafeed .juicer-feed h1.referral a {
  display: none;
  height: 0;
}

#instafeed .juicer-feed.night li.feed-item {
  background: none !important;
}

#instafeed .juicer-feed.night li.j-instagram {
  @apply md:max-h-[300px]
  2sm:max-h-[250px];
}

#instafeed .juicer-feed.night .j-poster-meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #1f1f1f;
}

#instafeed .juicer-feed.night li.feed-item a img {
  @apply md:min-h-[300px]
  2sm:min-h-[250px]
  object-cover;
}

.popupCarousel .slick-arrow {
  background: var(--primary);
  @apply rounded-full flex text-[0px] top-0 absolute items-center justify-center p-[10px] z-[20] w-[30px] h-[30px] md:w-[50px] md:h-[50px];
}

.popupCarousel .slick-prev {
  @apply left-auto right-[40px] md:right-[60px];
}
.popupCarousel .slick-next {
  @apply right-0;
}

/* .offer-slider .slick-active {
  @apply border-[1px] border-solid border-[#fff] p-[3px];
} */

@keyframes rota2 {
  from {
    transform: rotate(-225deg);
  }

  to {
    transform: rotate(-45deg);
  }
}

@keyframes rota {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(315deg);
  }
}

.offer-slider .slick-dots li {
  @apply relative;
}

.offer-slider .slick-dots li {
  @apply border-[2px] transition border-solid border-transparent p-[3px] rounded-full;
}
.offer-slider .slick-dots .slick-active {
  @apply border-[#fff] transition scale-125;
}

.st-sticky-share-buttons {
  z-index: 100 !important;
}

.CookieDeclaration,
.CookieDeclarationType {
  display: none !important;
}

/* .fancybox__toolbar {
  padding: 16px;
}

.fancybox__toolbar,
.fancybox__nav {
  --f-button-border-radius: 50%;
  --f-button-bg: rgb(91 78 76 / 64%);
  --f-button-hover-bg: rgb(91 78 76 / 74%);
  --f-button-active-bg: rgb(91 78 76 / 84%);
}

.fancybox__nav {
  --f-button-svg-width: 22px;
  --f-button-svg-height: 22px;
}

.fancybox__thumbs.is-classic {
  --f-thumb-width: 48px;
  --f-thumb-height: 48px;
  --f-thumb-gap: 16px;

  --f-thumb-border-radius: 6px;
  --f-thumb-outline: 0;
}
 */

/* Dots */

.fancybox__caption {
  @apply text-center
    !max-w-[1080px]
    !px-[20px];
}
.fancybox__caption h2 {
  @apply md:text-[25px]
    text-[20px]
    mb-[10px];
}

.fancybox__caption h3 {
  @apply text-[23px]
  mb-[10px];
}

.fancybox__caption p {
  @apply sm:line-clamp-none
  line-clamp-3;
}

.is-opening .fancybox__content,
.is-compact .fancybox__content,
.fancybox__slide.is-loading {
  @apply !opacity-100;
}

.is-opening .fancybox-spinner,
.is-compact .fancybox-spinner {
  @apply opacity-0;
}
.slickdots .slick-list {
  @apply pb-[90px];
}
.slickdots .slick-dots {
  @apply flex
    justify-center
    gap-x-[20px]
    p-0
    m-0
    absolute
    left-0
    right-0
    bottom-[50px];
}

.slickdots .slick-dots li {
  @apply w-[10px] h-[10px] rounded-full bg-[#DDDDDD] flex cursor-pointer
  transition-transform duration-300 ease-in;
}

.slickdots .slick-dots .slick-active {
  @apply bg-[var(--primary)]
 scale-[1.2]
  transition-transform duration-300 ease-in;
}

.slickdots .slick-dots .ft-slick__dots--custom {
  @apply flex w-full h-full;
}

/* Counter Number */

.custom-counter {
  counter-reset: section;
}

.custom-counter-number {
  counter-increment: section;
}

.custom-counter .custom-counter-number::before {
  content: counters(section, "") "";
}

.st-2 .juicer-feed.modern .j-text,
.juicer-feed.modern .j-message {
  @apply !text-[#fff] bg-[#1f1f1f] !hidden;
}
.st-2 .juicer-feed.modern .j-text a {
  @apply text-[#fff];
}

.juicer-feed.modern .j-image img {
  @apply md:!h-[300px] object-cover;
}
.st-2 .juicer-feed.modern .j-poster {
  @apply bg-[#000] bg-opacity-60 absolute bottom-0 left-0 w-full z-[1];
}

.st-2 .juicer-feed.modern .j-message a {
  @apply !underline;
}
.st-2 .juicer-feed.modern .j-poster a,
.st-2 .juicer-feed.modern .j-poster h3,
.st-2 .juicer-feed.modern .j-poster .j-date {
  @apply !text-[#fff];
}

/* .eapps-instagram-feed#eapps-instagram-feed-1 > a {
  @apply !hidden !h-[0] !w-[0] !indent-[-9999px] !opacity-0 !invisible !overflow-hidden ml-[-1000%];
} */

.swiper-pagination-bullet-active {
  @apply !bg-primary;
}
