@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "lato";
    font-display: swap;
    font-weight: 100;
    src: url("/fonts/lato300.woff2") format("woff2");
  }
}

* {
  line-height: 27px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
